ul.share {
	list-style-type: none;
}

ul.share li {
	padding: 0 5px;
	float: left;
}

ul.share li::before {
	content: "";
}

ul.share li a i {
	text-indent: -9999px;
	transition: background-position .5s linear;
}

ul.share li a i.facebook:hover {
	background-position: -750px -330px;
}

ul.share li a i.gplus:hover {
	background-position: -590px -480px;
}

.user-nav .sprite {
    margin-top:11px;
}

.user-nav .dark:hover .sprite-ico_recipe30_white {
    background-position: -90px -630px;
}

.user-nav .medium:hover .sprite-ico_user30_white {
    background-position: -620px -930px;
}

.user-nav .light:hover .sprite-ico_search30_white {
    background-position: -270px -630px;
}


.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block; 
    overflow:hidden;
}

.sprite-ico_anonymous30_bw {
    width: 30px;
    height: 30px;
    background-position: 0 0;
}

.sprite-ico_anonymous30_color {
    width: 30px;
    height: 30px;
    background-position: -30px 0;
}

.sprite-ico_anonymous50_bw {
    width: 50px;
    height: 50px;
    background-position: -60px 0;
}

.sprite-ico_anonymous50_color {
    width: 50px;
    height: 50px;
    background-position: -110px 0;
}

.sprite-ico_arrowdown10_black {
    width: 10px;
    height: 10px;
    background-position: -160px 0;
}

.sprite-ico_arrowdown10_green {
    width: 10px;
    height: 10px;
    background-position: -170px 0;
}

.sprite-ico_arrowdown10_white {
    width: 10px;
    height: 10px;
    background-position: -180px 0;
}

.sprite-ico_arrowleft10_black {
    width: 10px;
    height: 10px;
    background-position: -190px 0;
}

.sprite-ico_arrowleft10_green {
    width: 10px;
    height: 10px;
    background-position: -200px 0;
}

.sprite-ico_arrowleft10_white {
    width: 10px;
    height: 10px;
    background-position: -210px 0;
}

.sprite-ico_arrowright10_black {
    width: 10px;
    height: 10px;
    background-position: -220px 0;
}

.sprite-ico_arrowright10_green {
    width: 10px;
    height: 10px;
    background-position: -230px 0;
}

.sprite-ico_arrowright10_white {
    width: 10px;
    height: 10px;
    background-position: -240px 0;
}

.sprite-ico_arrowup10_black {
    width: 10px;
    height: 10px;
    background-position: -250px 0;
}

.sprite-ico_arrowup10_green {
    width: 10px;
    height: 10px;
    background-position: -260px 0;
}

.sprite-ico_arrowup10_white {
    width: 10px;
    height: 10px;
    background-position: -270px 0;
}

.sprite-ico_award30_black {
    width: 30px;
    height: 30px;
    background-position: -280px 0;
}

.sprite-ico_award30_green {
    width: 30px;
    height: 30px;
    background-position: -310px 0;
}

.sprite-ico_award30_white {
    width: 30px;
    height: 30px;
    background-position: -340px 0;
}

.sprite-ico_award50_black {
    width: 50px;
    height: 50px;
    background-position: -370px 0;
}

.sprite-ico_award50_green {
    width: 50px;
    height: 50px;
    background-position: -420px 0;
}

.sprite-ico_award50_white {
    width: 50px;
    height: 50px;
    background-position: -470px 0;
}

.sprite-ico_baby100_black {
    width: 100px;
    height: 100px;
    background-position: -520px 0;
}

.sprite-ico_baby100_green {
    width: 100px;
    height: 100px;
    background-position: -620px 0;
}

.sprite-ico_baby100_white {
    width: 100px;
    height: 100px;
    background-position: -720px 0;
}

.sprite-ico_baby30_black {
    width: 30px;
    height: 30px;
    background-position: -820px 0;
}

.sprite-ico_baby30_green {
    width: 30px;
    height: 30px;
    background-position: -850px 0;
}

.sprite-ico_baby30_white {
    width: 30px;
    height: 30px;
    background-position: -880px 0;
}

.sprite-ico_baby50_black {
    width: 50px;
    height: 50px;
    background-position: -910px 0;
}

.sprite-ico_baby50_green {
    width: 50px;
    height: 50px;
    background-position: 0 -50px;
}

.sprite-ico_baby50_white {
    width: 50px;
    height: 50px;
    background-position: -50px -50px;
}

.sprite-ico_bbq100_black {
    width: 100px;
    height: 100px;
    background-position: -100px -50px;
}

.sprite-ico_bbq100_green {
    width: 100px;
    height: 100px;
    background-position: -200px -50px;
}

.sprite-ico_bbq100_white {
    width: 100px;
    height: 100px;
    background-position: -300px -50px;
}

.sprite-ico_bbq30_black {
    width: 30px;
    height: 30px;
    background-position: -400px -50px;
}

.sprite-ico_bbq30_green {
    width: 30px;
    height: 30px;
    background-position: -430px -50px;
}

.sprite-ico_bbq30_white {
    width: 30px;
    height: 30px;
    background-position: -460px -50px;
}

.sprite-ico_bbq50_black {
    width: 50px;
    height: 50px;
    background-position: -820px -50px;
}

.sprite-ico_bbq50_green {
    width: 50px;
    height: 50px;
    background-position: -870px -50px;
}

.sprite-ico_bbq50_white {
    width: 50px;
    height: 50px;
    background-position: -920px -50px;
}

.sprite-ico_blogger30_bw {
    width: 30px;
    height: 30px;
    background-position: -490px -50px;
}

.sprite-ico_blogger30_color {
    width: 30px;
    height: 30px;
    background-position: 0 -100px;
}

.sprite-ico_blogger50_bw {
    width: 50px;
    height: 50px;
    background-position: -30px -100px;
}

.sprite-ico_blogger50_color {
    width: 50px;
    height: 50px;
    background-position: -400px -100px;
}

.sprite-ico_bread30_black {
    width: 30px;
    height: 30px;
    background-position: -450px -100px;
}

.sprite-ico_bread30_green {
    width: 30px;
    height: 30px;
    background-position: -480px -100px;
}

.sprite-ico_bread30_white {
    width: 30px;
    height: 30px;
    background-position: -510px -100px;
}

.sprite-ico_bread50_black {
    width: 50px;
    height: 50px;
    background-position: -540px -100px;
}

.sprite-ico_bread50_green {
    width: 50px;
    height: 50px;
    background-position: -590px -100px;
}

.sprite-ico_bread50_white {
    width: 50px;
    height: 50px;
    background-position: -640px -100px;
}

.sprite-ico_chef100_black {
    width: 100px;
    height: 100px;
    background-position: -690px -100px;
}

.sprite-ico_chef100_green {
    width: 100px;
    height: 100px;
    background-position: -790px -100px;
}

.sprite-ico_chef100_white {
    width: 100px;
    height: 100px;
    background-position: 0 -200px;
}

.sprite-ico_chef30_black {
    width: 30px;
    height: 30px;
    background-position: -890px -100px;
}

.sprite-ico_chef30_green {
    width: 30px;
    height: 30px;
    background-position: -920px -100px;
}

.sprite-ico_chef30_white {
    width: 30px;
    height: 30px;
    background-position: 0 -130px;
}

.sprite-ico_chef50_black {
    width: 50px;
    height: 50px;
    background-position: -450px -130px;
}

.sprite-ico_chef50_green {
    width: 50px;
    height: 50px;
    background-position: -890px -130px;
}

.sprite-ico_chef50_white {
    width: 50px;
    height: 50px;
    background-position: -100px -180px;
}

.sprite-ico_chicken100_black {
    width: 100px;
    height: 100px;
    background-position: -150px -200px;
}

.sprite-ico_chicken100_green {
    width: 100px;
    height: 100px;
    background-position: -250px -200px;
}

.sprite-ico_chicken100_white {
    width: 100px;
    height: 100px;
    background-position: -350px -200px;
}

.sprite-ico_chicken30_black {
    width: 30px;
    height: 30px;
    background-position: -500px -130px;
}

.sprite-ico_chicken30_green {
    width: 30px;
    height: 30px;
    background-position: -940px -130px;
}

.sprite-ico_chicken30_white {
    width: 30px;
    height: 30px;
    background-position: 0 -160px;
}

.sprite-ico_chicken50_black {
    width: 50px;
    height: 50px;
    background-position: -450px -180px;
}

.sprite-ico_chicken50_green {
    width: 50px;
    height: 50px;
    background-position: -500px -180px;
}

.sprite-ico_chicken50_white {
    width: 50px;
    height: 50px;
    background-position: -550px -180px;
}

.sprite-ico_chinese30_black {
    width: 30px;
    height: 30px;
    background-position: -30px -160px;
}

.sprite-ico_chinese30_green {
    width: 30px;
    height: 30px;
    background-position: -60px -160px;
}

.sprite-ico_chinese30_white {
    width: 30px;
    height: 30px;
    background-position: -150px -160px;
}

.sprite-ico_chinese50_black {
    width: 50px;
    height: 50px;
    background-position: -600px -180px;
}

.sprite-ico_chinese50_green {
    width: 50px;
    height: 50px;
    background-position: -890px -180px;
}

.sprite-ico_chinese50_white {
    width: 50px;
    height: 50px;
    background-position: -100px -230px;
}

.sprite-ico_coffee30_black {
    width: 30px;
    height: 30px;
    background-position: -180px -160px;
}

.sprite-ico_coffee30_green {
    width: 30px;
    height: 30px;
    background-position: -210px -160px;
}

.sprite-ico_coffee30_white {
    width: 30px;
    height: 30px;
    background-position: -240px -160px;
}

.sprite-ico_coffee50_black {
    width: 50px;
    height: 50px;
    background-position: -450px -230px;
}

.sprite-ico_coffee50_green {
    width: 50px;
    height: 50px;
    background-position: -500px -230px;
}

.sprite-ico_coffee50_white {
    width: 50px;
    height: 50px;
    background-position: -550px -230px;
}

.sprite-ico_comment30_black {
    width: 30px;
    height: 30px;
    background-position: -270px -160px;
}

.sprite-ico_comment30_green {
    width: 30px;
    height: 30px;
    background-position: -300px -160px;
}

.sprite-ico_comment30_white {
    width: 30px;
    height: 30px;
    background-position: -330px -160px;
}

.sprite-ico_comment50_black {
    width: 50px;
    height: 50px;
    background-position: -600px -230px;
}

.sprite-ico_comment50_green {
    width: 50px;
    height: 50px;
    background-position: -650px -230px;
}

.sprite-ico_comment50_white {
    width: 50px;
    height: 50px;
    background-position: -700px -230px;
}

.sprite-ico_costume100_black {
    width: 100px;
    height: 100px;
    background-position: -750px -200px;
}

.sprite-ico_costume100_green {
    width: 100px;
    height: 100px;
    background-position: -850px -230px;
}

.sprite-ico_costume100_white {
    width: 100px;
    height: 100px;
    background-position: 0 -330px;
}

.sprite-ico_costume30_black {
    width: 30px;
    height: 30px;
    background-position: -360px -160px;
}

.sprite-ico_costume30_green {
    width: 30px;
    height: 30px;
    background-position: -390px -160px;
}

.sprite-ico_costume30_white {
    width: 30px;
    height: 30px;
    background-position: -420px -160px;
}

.sprite-ico_costume50_black {
    width: 50px;
    height: 50px;
    background-position: -100px -330px;
}

.sprite-ico_costume50_green {
    width: 50px;
    height: 50px;
    background-position: -150px -330px;
}

.sprite-ico_costume50_white {
    width: 50px;
    height: 50px;
    background-position: -200px -330px;
}

.sprite-ico_digg30_bw {
    width: 30px;
    height: 30px;
    background-position: -650px -160px;
}

.sprite-ico_digg30_color {
    width: 30px;
    height: 30px;
    background-position: -940px -160px;
}

.sprite-ico_digg50_bw {
    width: 50px;
    height: 50px;
    background-position: -250px -330px;
}

.sprite-ico_digg50_color {
    width: 50px;
    height: 50px;
    background-position: -300px -330px;
}

.sprite-ico_dropbox30_bw {
    width: 30px;
    height: 30px;
    background-position: -650px -190px;
}

.sprite-ico_dropbox30_color {
    width: 30px;
    height: 30px;
    background-position: -940px -190px;
}

.sprite-ico_dropbox50_bw {
    width: 50px;
    height: 50px;
    background-position: -350px -330px;
}

.sprite-ico_dropbox50_color {
    width: 50px;
    height: 50px;
    background-position: -400px -330px;
}

.sprite-ico_egg100_white {
    width: 30px;
    height: 30px;
    background-position: -450px -330px;
}

.sprite-ico_egg30_black {
    width: 30px;
    height: 30px;
    background-position: -480px -330px;
}

.sprite-ico_egg30_green {
    width: 30px;
    height: 30px;
    background-position: -510px -330px;
}

.sprite-ico_egg30_white {
    width: 30px;
    height: 30px;
    background-position: -540px -330px;
}

.sprite-ico_egg50_black {
    width: 50px;
    height: 50px;
    background-position: -570px -330px;
}

.sprite-ico_egg50_green {
    width: 50px;
    height: 50px;
    background-position: -620px -330px;
}

.sprite-ico_egg50_white {
    width: 50px;
    height: 50px;
    background-position: -670px -330px;
}

.sprite-ico_fb30_-bw {
    width: 30px;
    height: 30px;
    background-position: -720px -330px;
}

.sprite-ico_fb30_color {
    width: 30px;
    height: 30px;
    background-position: -750px -330px;
}

.sprite-ico_fb50_bw {
    width: 50px;
    height: 50px;
    background-position: -780px -330px;
}

.sprite-ico_fb50_color {
    width: 50px;
    height: 50px;
    background-position: -830px -330px;
}

.sprite-ico_fish100_black {
    width: 100px;
    height: 100px;
    background-position: -100px -380px;
}

.sprite-ico_fish100_green {
    width: 100px;
    height: 100px;
    background-position: -200px -380px;
}

.sprite-ico_fish100_white {
    width: 100px;
    height: 100px;
    background-position: -300px -380px;
}

.sprite-ico_fish30_black {
    width: 30px;
    height: 30px;
    background-position: -880px -330px;
}

.sprite-ico_fish30_green {
    width: 30px;
    height: 30px;
    background-position: -910px -330px;
}

.sprite-ico_fish30_white {
    width: 30px;
    height: 30px;
    background-position: -940px -330px;
}

.sprite-ico_fish50_black {
    width: 50px;
    height: 50px;
    background-position: -450px -360px;
}

.sprite-ico_fish50_green {
    width: 50px;
    height: 50px;
    background-position: -500px -360px;
}

.sprite-ico_fish50_white {
    width: 50px;
    height: 50px;
    background-position: -720px -360px;
}

.sprite-ico_fresh100_black {
    width: 100px;
    height: 100px;
    background-position: -550px -380px;
}

.sprite-ico_fresh100_green {
    width: 100px;
    height: 100px;
    background-position: -770px -380px;
}

.sprite-ico_fresh100_white {
    width: 100px;
    height: 100px;
    background-position: -870px -380px;
}

.sprite-ico_fresh30_black {
    width: 30px;
    height: 30px;
    background-position: 0 -480px;
}

.sprite-ico_fresh30_green {
    width: 30px;
    height: 30px;
    background-position: -30px -480px;
}

.sprite-ico_fresh30_white {
    width: 30px;
    height: 30px;
    background-position: -60px -480px;
}

.sprite-ico_fresh50_black {
    width: 50px;
    height: 50px;
    background-position: -90px -480px;
}

.sprite-ico_fresh50_green {
    width: 50px;
    height: 50px;
    background-position: -140px -480px;
}

.sprite-ico_fresh50_white {
    width: 50px;
    height: 50px;
    background-position: -190px -480px;
}

.sprite-ico_gdrive30_bw {
    width: 30px;
    height: 30px;
    background-position: -240px -480px;
}

.sprite-ico_gdrive30_color {
    width: 30px;
    height: 30px;
    background-position: -270px -480px;
}

.sprite-ico_gdrive50_bw {
    width: 50px;
    height: 50px;
    background-position: -300px -480px;
}

.sprite-ico_gdrive50_color {
    width: 50px;
    height: 50px;
    background-position: -350px -480px;
}

.sprite-ico_github30_bw {
    width: 30px;
    height: 30px;
    background-position: -400px -480px;
}

.sprite-ico_github30_color {
    width: 30px;
    height: 30px;
    background-position: -430px -480px;
}

.sprite-ico_github50_bw {
    width: 50px;
    height: 50px;
    background-position: -460px -480px;
}

.sprite-ico_github50_color {
    width: 50px;
    height: 50px;
    background-position: -510px -480px;
}

.sprite-ico_gplus30_bw {
    width: 30px;
    height: 30px;
    background-position: -560px -480px;
}

.sprite-ico_gplus30_color {
    width: 30px;
    height: 30px;
    background-position: -590px -480px;
}

.sprite-ico_gplus50_bw {
    width: 50px;
    height: 50px;
    background-position: -620px -480px;
}

.sprite-ico_gplus50_color {
    width: 50px;
    height: 50px;
    background-position: -670px -480px;
}

.sprite-ico_hangouts30_bw {
    width: 30px;
    height: 30px;
    background-position: -720px -480px;
}

.sprite-ico_hangouts30_color {
    width: 30px;
    height: 30px;
    background-position: -750px -480px;
}

.sprite-ico_hangouts50_bw {
    width: 50px;
    height: 50px;
    background-position: -780px -480px;
}

.sprite-ico_hangouts50_color {
    width: 50px;
    height: 50px;
    background-position: -830px -480px;
}

.sprite-ico_heart100_black {
    width: 100px;
    height: 100px;
    background-position: 0 -530px;
}

.sprite-ico_heart100_green {
    width: 100px;
    height: 100px;
    background-position: -100px -530px;
}

.sprite-ico_heart100_white {
    width: 100px;
    height: 100px;
    background-position: -200px -530px;
}

.sprite-ico_heart30_black {
    width: 30px;
    height: 30px;
    background-position: -880px -480px;
}

.sprite-ico_heart30_green {
    width: 30px;
    height: 30px;
    background-position: -910px -480px;
}

.sprite-ico_heart30_white {
    width: 30px;
    height: 30px;
    background-position: -940px -480px;
}

.sprite-ico_heart50_black {
    width: 50px;
    height: 50px;
    background-position: -400px -510px;
}

.sprite-ico_heart50_green {
    width: 50px;
    height: 50px;
    background-position: -560px -510px;
}

.sprite-ico_heart50_white {
    width: 50px;
    height: 50px;
    background-position: -720px -510px;
}

.sprite-ico_html530_bw {
    width: 30px;
    height: 30px;
    background-position: -880px -510px;
}

.sprite-ico_html530_color {
    width: 30px;
    height: 30px;
    background-position: -910px -510px;
}

.sprite-ico_html550_bw {
    width: 50px;
    height: 50px;
    background-position: -300px -540px;
}

.sprite-ico_html550_color {
    width: 50px;
    height: 50px;
    background-position: -350px -540px;
}

.sprite-ico_myspace30_bw {
    width: 30px;
    height: 30px;
    background-position: -940px -510px;
}

.sprite-ico_myspace30_color {
    width: 30px;
    height: 30px;
    background-position: -450px -540px;
}

.sprite-ico_myspace50_bw {
    width: 50px;
    height: 50px;
    background-position: -480px -540px;
}

.sprite-ico_myspace50_color {
    width: 50px;
    height: 50px;
    background-position: -610px -540px;
}

.sprite-ico_pastry30_black {
    width: 30px;
    height: 30px;
    background-position: -530px -540px;
}

.sprite-ico_pastry30_green {
    width: 30px;
    height: 30px;
    background-position: -660px -540px;
}

.sprite-ico_pastry30_white {
    width: 30px;
    height: 30px;
    background-position: -690px -540px;
}

.sprite-ico_pastry50_black {
    width: 50px;
    height: 50px;
    background-position: -770px -540px;
}

.sprite-ico_pastry50_green {
    width: 50px;
    height: 50px;
    background-position: -820px -540px;
}

.sprite-ico_pastry50_white {
    width: 50px;
    height: 50px;
    background-position: -870px -540px;
}

.sprite-ico_picture100_black {
    width: 100px;
    height: 100px;
    background-position: -300px -590px;
}

.sprite-ico_picture100_green {
    width: 100px;
    height: 100px;
    background-position: -400px -590px;
}

.sprite-ico_picture100_white {
    width: 100px;
    height: 100px;
    background-position: -500px -590px;
}

.sprite-ico_pinterest30_bw {
    width: 30px;
    height: 30px;
    background-position: -920px -540px;
}

.sprite-ico_pinterest30_color {
    width: 30px;
    height: 30px;
    background-position: -660px -570px;
}

.sprite-ico_pinterest50_color {
    width: 50px;
    height: 50px;
    background-position: -690px -570px;
}

.sprite-ico_pizza30_black {
    width: 30px;
    height: 30px;
    background-position: -740px -570px;
}

.sprite-ico_pizza30_green {
    width: 30px;
    height: 30px;
    background-position: -920px -570px;
}

.sprite-ico_pizza30_white {
    width: 30px;
    height: 30px;
    background-position: -600px -600px;
}

.sprite-ico_pizza50_black {
    width: 50px;
    height: 50px;
    background-position: -630px -600px;
}

.sprite-ico_pizza50_green {
    width: 50px;
    height: 50px;
    background-position: -740px -600px;
}

.sprite-ico_pizza50_white {
    width: 50px;
    height: 50px;
    background-position: -790px -600px;
}

.sprite-ico_plate100_black {
    width: 100px;
    height: 100px;
    background-position: -840px -600px;
}

.sprite-ico_plate100_green {
    width: 100px;
    height: 100px;
    background-position: 0 -700px;
}

.sprite-ico_plate100_white {
    width: 100px;
    height: 100px;
    background-position: -100px -700px;
}

.sprite-ico_plate30_black {
    width: 30px;
    height: 30px;
    background-position: -940px -600px;
}

.sprite-ico_plate30_green {
    width: 30px;
    height: 30px;
    background-position: 0 -630px;
}

.sprite-ico_plate30_white {
    width: 30px;
    height: 30px;
    background-position: -30px -630px;
}

.sprite-ico_plate50_black {
    width: 50px;
    height: 50px;
    background-position: -200px -700px;
}

.sprite-ico_plate50_green {
    width: 50px;
    height: 50px;
    background-position: -250px -700px;
}

.sprite-ico_plate50_white {
    width: 50px;
    height: 50px;
    background-position: -300px -700px;
}

.sprite-ico_recipe100_black {
    width: 100px;
    height: 100px;
    background-position: -350px -700px;
}

.sprite-ico_recipe100_green {
    width: 100px;
    height: 100px;
    background-position: -450px -700px;
}

.sprite-ico_recipe100_white {
    width: 100px;
    height: 100px;
    background-position: -550px -700px;
}

.sprite-ico_recipe30_black {
    width: 30px;
    height: 30px;
    background-position: -60px -630px;
}

.sprite-ico_recipe30_green {
    width: 30px;
    height: 30px;
    background-position: -90px -630px;
}

.sprite-ico_recipe30_white {
    width: 30px;
    height: 30px;
    background-position: -120px -630px;
}

.sprite-ico_recipe50_black {
    width: 50px;
    height: 50px;
    background-position: -650px -700px;
}

.sprite-ico_recipe50_green {
    width: 50px;
    height: 50px;
    background-position: -700px -700px;
}

.sprite-ico_recipe50_white {
    width: 50px;
    height: 50px;
    background-position: -750px -700px;
}

.sprite-ico_salad100_black {
    width: 100px;
    height: 100px;
    background-position: -800px -700px;
}

.sprite-ico_salad30_black {
    width: 30px;
    height: 30px;
    background-position: -150px -630px;
}

.sprite-ico_salad30_green {
    width: 30px;
    height: 30px;
    background-position: -180px -630px;
}

.sprite-ico_salad30_white {
    width: 30px;
    height: 30px;
    background-position: -210px -630px;
}

.sprite-ico_salad50_black {
    width: 50px;
    height: 50px;
    background-position: -900px -700px;
}

.sprite-ico_salad50_green {
    width: 50px;
    height: 50px;
    background-position: -200px -750px;
}

.sprite-ico_salad50_white {
    width: 50px;
    height: 50px;
    background-position: -250px -750px;
}

.sprite-ico_search100_black {
    width: 100px;
    height: 100px;
    background-position: 0 -800px;
}

.sprite-ico_search100_green {
    width: 100px;
    height: 100px;
    background-position: -100px -800px;
}

.sprite-ico_search100_white {
    width: 100px;
    height: 100px;
    background-position: -200px -800px;
}

.sprite-ico_search30_black {
    width: 30px;
    height: 30px;
    background-position: -240px -630px;
}

.sprite-ico_search30_green {
    width: 30px;
    height: 30px;
    background-position: -270px -630px;
}

.sprite-ico_search30_white {
    width: 30px;
    height: 30px;
    background-position: -600px -630px;
}

.sprite-ico_search50_black {
    width: 50px;
    height: 50px;
    background-position: -300px -750px;
}

.sprite-ico_search50_green {
    width: 50px;
    height: 50px;
    background-position: -650px -750px;
}

.sprite-ico_search50_white {
    width: 50px;
    height: 50px;
    background-position: -700px -750px;
}

.sprite-ico_shrimp30_black {
    width: 30px;
    height: 30px;
    background-position: -680px -630px;
}

.sprite-ico_shrimp30_green {
    width: 30px;
    height: 30px;
    background-position: -710px -630px;
}

.sprite-ico_shrimp30_white {
    width: 30px;
    height: 30px;
    background-position: -940px -630px;
}

.sprite-ico_shrimp50_black {
    width: 50px;
    height: 50px;
    background-position: -750px -750px;
}

.sprite-ico_shrimp50_green {
    width: 50px;
    height: 50px;
    background-position: -900px -750px;
}

.sprite-ico_shrimp50_white {
    width: 50px;
    height: 50px;
    background-position: -300px -800px;
}

.sprite-ico_snapchat30_bwpng {
    width: 30px;
    height: 30px;
    background-position: 0 -660px;
}

.sprite-ico_snapchat30_color {
    width: 30px;
    height: 30px;
    background-position: -30px -660px;
}

.sprite-ico_snapchat50_bw {
    width: 50px;
    height: 50px;
    background-position: -350px -800px;
}

.sprite-ico_snapchat50_color {
    width: 50px;
    height: 50px;
    background-position: -400px -800px;
}

.sprite-ico_soup100_black {
    width: 100px;
    height: 100px;
    background-position: -450px -800px;
}

.sprite-ico_soup100_green {
    width: 100px;
    height: 100px;
    background-position: -550px -800px;
}

.sprite-ico_soup100_white {
    width: 100px;
    height: 100px;
    background-position: -650px -800px;
}

.sprite-ico_soup30_black {
    width: 30px;
    height: 30px;
    background-position: -60px -660px;
}

.sprite-ico_soup30_green {
    width: 30px;
    height: 30px;
    background-position: -90px -660px;
}

.sprite-ico_soup30_white {
    width: 30px;
    height: 30px;
    background-position: -120px -660px;
}

.sprite-ico_soup50_black {
    width: 50px;
    height: 50px;
    background-position: -750px -800px;
}

.sprite-ico_soup50_green {
    width: 50px;
    height: 50px;
    background-position: -800px -800px;
}

.sprite-ico_soup50_white {
    width: 50px;
    height: 50px;
    background-position: -850px -800px;
}

.sprite-ico_spicy30_black {
    width: 30px;
    height: 30px;
    background-position: -150px -660px;
}

.sprite-ico_spicy30_green {
    width: 30px;
    height: 30px;
    background-position: -180px -660px;
}

.sprite-ico_spicy30_white {
    width: 30px;
    height: 30px;
    background-position: -210px -660px;
}

.sprite-ico_spicy50_black {
    width: 50px;
    height: 50px;
    background-position: -900px -800px;
}

.sprite-ico_spicy50_green {
    width: 50px;
    height: 50px;
    background-position: -300px -850px;
}

.sprite-ico_spicy50_white {
    width: 50px;
    height: 50px;
    background-position: -350px -850px;
}

.sprite-ico_star100_black {
    width: 100px;
    height: 100px;
    background-position: -750px -850px;
}

.sprite-ico_star100_green {
    width: 100px;
    height: 100px;
    background-position: -850px -850px;
}

.sprite-ico_star100_white {
    width: 100px;
    height: 100px;
    background-position: -970px 0;
}

.sprite-ico_star30_black {
    width: 30px;
    height: 30px;
    background-position: -950px -100px;
}

.sprite-ico_star30_green {
    width: 30px;
    height: 30px;
    background-position: -980px -100px;
}

.sprite-ico_star30_white {
    width: 30px;
    height: 30px;
    background-position: -1010px -100px;
}

.sprite-ico_star50_black {
    width: 50px;
    height: 50px;
    background-position: -970px -130px;
}

.sprite-ico_star50_green {
    width: 50px;
    height: 50px;
    background-position: -1020px -130px;
}

.sprite-ico_star50_white {
    width: 50px;
    height: 50px;
    background-position: -970px -180px;
}

.sprite-ico_starfull100_black {
    width: 100px;
    height: 100px;
    background-position: -950px -230px;
}

.sprite-ico_starfull100_green {
    width: 100px;
    height: 100px;
    background-position: -970px -330px;
}

.sprite-ico_starfull100_white {
    width: 100px;
    height: 100px;
    background-position: -970px -430px;
}

.sprite-ico_starfull30_black {
    width: 30px;
    height: 30px;
    background-position: -1040px -100px;
}

.sprite-ico_starfull30_green {
    width: 30px;
    height: 30px;
    background-position: -1020px -180px;
}

.sprite-ico_starfull30_white {
    width: 30px;
    height: 30px;
    background-position: 0 -430px;
}

.sprite-ico_starfull50_black {
    width: 50px;
    height: 50px;
    background-position: -30px -430px;
}

.sprite-ico_starfull50_green {
    width: 50px;
    height: 50px;
    background-position: -400px -430px;
}

.sprite-ico_starfull50_white {
    width: 50px;
    height: 50px;
    background-position: -450px -430px;
}

.sprite-ico_stumbleupon30_bw {
    width: 30px;
    height: 30px;
    background-position: -500px -430px;
}

.sprite-ico_stumbleupon30_color {
    width: 30px;
    height: 30px;
    background-position: -650px -430px;
}

.sprite-ico_stumbleupon50_bw {
    width: 50px;
    height: 50px;
    background-position: -680px -430px;
}

.sprite-ico_stumbleupon50_color {
    width: 50px;
    height: 50px;
    background-position: -970px -530px;
}

.sprite-ico_sweet100_black {
    width: 100px;
    height: 100px;
    background-position: -970px -580px;
}

.sprite-ico_sweet100_green {
    width: 100px;
    height: 100px;
    background-position: -950px -680px;
}

.sprite-ico_sweet100_white {
    width: 100px;
    height: 100px;
    background-position: -950px -780px;
}

.sprite-ico_sweet30_black {
    width: 30px;
    height: 30px;
    background-position: -730px -430px;
}

.sprite-ico_sweet30_green {
    width: 30px;
    height: 30px;
    background-position: -1020px -530px;
}

.sprite-ico_sweet30_white {
    width: 30px;
    height: 30px;
    background-position: -400px -560px;
}

.sprite-ico_sweet50_black {
    width: 50px;
    height: 50px;
    background-position: -400px -880px;
}

.sprite-ico_sweet50_green {
    width: 50px;
    height: 50px;
    background-position: -950px -880px;
}

.sprite-ico_sweet50_white {
    width: 50px;
    height: 50px;
    background-position: -1000px -880px;
}

.sprite-ico_tripadvisor30_bw {
    width: 30px;
    height: 30px;
    background-position: -560px -560px;
}

.sprite-ico_tripadvisor30_color {
    width: 30px;
    height: 30px;
    background-position: 0 -930px;
}

.sprite-ico_tripadvisor50_bw {
    width: 50px;
    height: 50px;
    background-position: -30px -930px;
}

.sprite-ico_tripadvisor50_color {
    width: 50px;
    height: 50px;
    background-position: -80px -930px;
}

.sprite-ico_tweeter30_bw {
    width: 30px;
    height: 30px;
    background-position: -130px -930px;
}

.sprite-ico_tweeter30_color {
    width: 30px;
    height: 30px;
    background-position: -160px -930px;
}

.sprite-ico_tweeter50_bw {
    width: 50px;
    height: 50px;
    background-position: -190px -930px;
}

.sprite-ico_tweeter50_color {
    width: 50px;
    height: 50px;
    background-position: -240px -930px;
}

.sprite-ico_user100_black {
    width: 100px;
    height: 100px;
    background-position: -290px -930px;
}

.sprite-ico_user100_green {
    width: 100px;
    height: 100px;
    background-position: -390px -930px;
}

.sprite-ico_user100_white {
    width: 100px;
    height: 100px;
    background-position: -490px -930px;
}

.sprite-ico_user30_black {
    width: 30px;
    height: 30px;
    background-position: -590px -930px;
}

.sprite-ico_user30_green {
    width: 30px;
    height: 30px;
    background-position: -620px -930px;
}

.sprite-ico_user30_white {
    width: 30px;
    height: 30px;
    background-position: -650px -930px;
}

.sprite-ico_user50_black {
    width: 50px;
    height: 50px;
    background-position: -680px -930px;
}

.sprite-ico_user50_green {
    width: 50px;
    height: 50px;
    background-position: -950px -930px;
}

.sprite-ico_user50_white {
    width: 50px;
    height: 50px;
    background-position: -1000px -930px;
}

.sprite-ico_vegetable30_black {
    width: 30px;
    height: 30px;
    background-position: 0 -980px;
}

.sprite-ico_vegetable30_green {
    width: 30px;
    height: 30px;
    background-position: -30px -980px;
}

.sprite-ico_vegetable30_white {
    width: 30px;
    height: 30px;
    background-position: -60px -980px;
}

.sprite-ico_vegetable50_blackpng {
    width: 50px;
    height: 50px;
    background-position: -90px -980px;
}

.sprite-ico_vegetable50_green {
    width: 50px;
    height: 50px;
    background-position: -140px -980px;
}

.sprite-ico_vegetable50_white {
    width: 50px;
    height: 50px;
    background-position: -190px -980px;
}

.sprite-ico_vimeo30_bw {
    width: 30px;
    height: 30px;
    background-position: -240px -980px;
}

.sprite-ico_vimeo30_color {
    width: 30px;
    height: 30px;
    background-position: -590px -980px;
}

.sprite-ico_vimeo50_bw {
    width: 50px;
    height: 50px;
    background-position: -620px -980px;
}

.sprite-ico_vimeo50_color {
    width: 50px;
    height: 50px;
    background-position: -670px -980px;
}

.sprite-ico_wordpress30_bw {
    width: 30px;
    height: 30px;
    background-position: -720px -980px;
}

.sprite-ico_wordpress30_color {
    width: 30px;
    height: 30px;
    background-position: -750px -980px;
}

.sprite-ico_wordpress50_bw {
    width: 50px;
    height: 50px;
    background-position: -780px -980px;
}

.sprite-ico_wordpress50_color {
    width: 50px;
    height: 50px;
    background-position: -830px -980px;
}

.sprite-ico_yahoo30_bw {
    width: 30px;
    height: 30px;
    background-position: -880px -980px;
}

.sprite-ico_yahoo30_color {
    width: 30px;
    height: 30px;
    background-position: -910px -980px;
}

.sprite-ico_yahoo50_bw {
    width: 50px;
    height: 50px;
    background-position: -940px -980px;
}

.sprite-ico_yahoo50_color {
    width: 50px;
    height: 50px;
    background-position: -990px -980px;
}

.sprite-ico_youtube30_bw {
    width: 30px;
    height: 30px;
    background-position: -1040px -980px;
}

.sprite-ico_youtube30_color {
    width: 30px;
    height: 30px;
    background-position: 0 -1010px;
}

.sprite-ico_youtube50_bw {
    width: 50px;
    height: 50px;
    background-position: -1070px 0;
}

.sprite-ico_youtube50_color {
    width: 50px;
    height: 50px;
    background-position: -1070px -50px;
}

.sprite-ico_youtube_play30_bw {
    width: 30px;
    height: 30px;
    background-position: -1070px -100px;
}

.sprite-ico_youtube_play30_color {
    width: 30px;
    height: 30px;
    background-position: -1070px -130px;
}

.sprite-ico_youtube_play50_bw {
    width: 50px;
    height: 50px;
    background-position: -1070px -160px;
}

.sprite-ico_youtube_play50_color {
    width: 50px;
    height: 50px;
    background-position: -1050px -210px;
}
